ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 50, 50);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
    background-color: rgb(117, 115, 115);
  }
  
.logOut {
    background-color: rgb(189, 33, 33);
}
