.outputProfile {
    background-color: rgb(124, 131, 134);
    height: 80%;
    width: 95%;
    margin: 2%;
    padding: 10px;
    border-radius: 25px;
}

h2 {
    text-align: center;
}

p{
    color: white;
    font-size: 20px;
}

button {
    background-color: #bd2217;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2%;
  }

button:hover {
    background-color: #d15f57;
    cursor: pointer;
}