h1 {
    text-align: center;
}

form {
    background-color: rgb(145, 126, 126);
    height: 60px;
}

input {
    width: 80%;
    height: 50%;
    margin: 0.7%;
    font-size: 20px;
}

.submitButton {
    background-color: #e41721; 
    border: black solid 2px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
  }

.submitButton:hover{
    background-color: #bd767a;
    
}

.outputClass{
    background-color: rgb(124, 131, 134);
    height: 80%;
    width: 95%;
    margin: 2%;
    padding: 10px;
    border-radius: 25px;
}

